@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,600&display=swap');
.flabel {
    font-family: 'Nunito', sans-serif;
    font-size: 1.50rem;
    color: black;
}

* {
    font-family: 'Nunito', sans-serif;
}

#Student-Table-View_filter,
#Blocks-Table-View_filter,
#Supervisor-Table-View_filter,
#Time-Table-View_filter,
#Notice-Table-View_filter {
    display: none;
}