/* .radio {
    padding: 0px 0px;
}

.input {
    padding: 0px 200px;
}

.dropdown {
    position: 10px 200px;
    display: inline-block;
}

.select {
    padding: 5px 40px;
    font-size: 20;
}

.date {
    padding: 1px 200px;
} */